@mixin grid-debug($color: #d9d9ff) {
  background-image: linear-gradient(90deg, $color 50%, darken(#fff, 1.5%) 0);
  background-repeat: repeat;
  background-position: top left;
  border-left: 1px solid $color;
  border-right: 1px solid $color;
  background-size: span(2) 100%;

  @include above('sm') {
    background-size: span(2, $sm);
  }

  @include above('md') {
    background-size: span(2, $md);
  }
}

.grid-debug {
  @include grid-debug(lighten(pink, 6%));
}
