%vertical-rhythm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin vertical-rhythm_single($color: color('rhythm')) {
  background-image: linear-gradient(to bottom, $color 1px, transparent 0);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 2rem;
}

@mixin vertical-rhythm_double (
  $color: color('rhythm')
  ) {
  background-image: linear-gradient(
    to bottom,
    $color 1px, transparent 0,
    transparent 0.5 * 2rem,
    $color 0.5 * 2rem,
    transparent 0.5 * 2rem + convert-units(1px, 'rem'),
    transparent 2rem
  );
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 2rem;
}

.vertical-rhythm[data-rhythm="single"] {
  @extend %vertical-rhythm;
  @include vertical-rhythm_single();
}

.vertical-rhythm[data-rhythm="double"] {
  @extend %vertical-rhythm;
  @include vertical-rhythm_double();
}