.column-main {
  flex: 0 0 100%;

  @include above('sm') {
    flex: 0 0 span(8);
    padding-left: gutter(1, $sm) / 2;
    padding-right: gutter(1, $sm) / 2;
  }

  @include above('md') {
    padding-left: gutter(1, $md);
    padding-right: gutter(1, $md);
  }

  @include above('lg') {
    padding-left: gutter(1, $lg);
    padding-right: gutter(1, $lg);
  }
}

.column--main  + .column--sidebar {
  @include above('sm') {
    padding-left: gutter(1, $sm);
    padding-right: gutter(1, $sm) / 2;
  }

  @include above('md') {
      padding-left: gutter(1, $lg) * 2;
      padding-right: gutter(1, $lg);
  }

  @include above('lg') {
    padding-left: gutter(1, $lg) * 2;
    padding-right: gutter(1, $lg);
  }
}