.column--left .sidenote{
  color: color('sidenote-color');

  @include above('sm') {
    position: absolute;
    max-width: span(4);
    right: 0;
    padding-left: gutter(1, $sm);
    padding-right: gutter(1, $sm) / 2;
  }

  @include above('md') {
    padding-left: gutter(1, $md);
    padding-right: gutter(1, $md);
  }

  @include above('lg') {
    padding-left: gutter(1, $lg) * 1.5;
    padding-right: gutter(1, $lg);
    @include font-size('gamma');
  }
}