.column-sidebar {
  @extend %column;

  @include above('sm') {
    width: span(4, $sm);
    padding-right: gutter() * 2;
    margin-top: 3rem;
  }

  @include above('md') {
    padding-right: gutter($md) * 2;
  }
}

.column-sidebar p,
.column-sidebar li {
  @include above('sm') {
    font-size: 90%;
  }

  @include above('lg') {
    @include font-size('text-sm');
  }
}