.column-main {
  @extend %column;

  @include above('sm') {
    width: span(4, $sm);
  }
}

.column-main + .column-sidebar {
  @include above('sm') {
    padding-left: gutter(1) * 2;
    padding-right: gutter(1);
    margin-top: 1rem;
  }

  @include above('md') {
    padding-left: gutter(1, $md) * 2;
    padding-right: gutter(1, $md);
  }
}