.column-left .sidenote {
  @extend %column;
  color: color('sidenote-color');

  @include above('sm') {
    position: absolute;
    max-width: span(2, $sm);
    right: 0;
    padding-left: gutter() * 2;
    padding-right: gutter();
  }

  @include above('md') {
    padding-left: gutter($md) * 2;
    padding-right: gutter($md);
  }

  @include above('lg') {
    @include font-size('text-xs');
  }
}