.column-sidebar {
  @extend %column;

  @include above('sm') {
    width: span(2, $sm);
    margin-top: 1rem;
  }

  @include above('md') {
    padding-right: gutter(1, $md) * 2;
  }
}

.column-sidebar p,
.column-sidebar li {
  @include above('sm') {
    font-size: 90%;
  }

  @include above('lg') {
    @include font-size('text-sm');
  }
}