.column-main {
  @extend %column;

  @include above('sm') {
    width: span(4, $sm);
  }
}

.column-main + .column-sidebar {
  @include above('sm') {
    padding-left: gutter() * 2;
    padding-right: gutter();
    margin-top: 3rem;
  }

  @include above('md') {
    padding-left: gutter($md) * 2;
    padding-right: gutter($md);
  }
}