%column {
  flex: none;
  width: 100%;
  @include measure('xs');
  margin-left: auto;
  margin-right: auto;

  @include above('sm') {
    margin-left: initial;
    margin-right: initial;
    max-width: initial;
    padding-left: gutter();
    padding-right: gutter();
  }

  @include above('md') {
    padding-left: gutter($md);
    padding-right: gutter($md);
  }
}

.column-duo {
  @extend %column;

  @include above('sm') {
    width: span(6 , $sm);
  }
}