.column-right {
  @extend %column;
  @include above('sm') {
    margin-left: span(4, $sm);
  }
}

.column-right .sidenote {
  color: color('sidenote-color');

  @include above('sm') {
    position: absolute;
    left: 0;
    max-width: span(4, $sm);
    padding-left: gutter();
    padding-right: gutter() * 2;
  }

  @include above('md') {
    padding-left: gutter($md);
    padding-right: gutter($md) * 2;
  }

  @include above('lg') {
    @include font-size('text-xs');
  }
}