.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  margin: auto;
  width: size('container-max-width');

  @include above('lg') {
    @include container-width('lg');
  }

  @include above('xl') {
    @include container-width('xl');
  }
}