.font-size-debug {
  display: block;
  position: relative;
}

.font-size-debug::before {
}

.font-size-debug::after {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  background-color: pink;
  font-size: 1rem;
  z-index: 1002;
  color: #333;
  font-weight: bold;
}

