.toggle-button {
  position: fixed;
  @include top(1);
  @include left(1);
  @include width(4);
  @include height(1);
  @include border-radius(1);
  background-color: color('toggle-button');
  color: color('toggle-button-color');
}

.toggle-button[data-rhythm="off"] {
  display: none;
}

.toggle-button[data-rhythm="singe"] {
  @include vertical-rhythm_single();
}

.toggle-button[data-rhythm="double"] {
  @include vertical-rhythm_double();
}