.column--right {
  margin-left: span(4);
}

.column--right .sidenote {
  position: absolute;
  left: 0;
  max-width: span(4);
  padding-left: gutter(1, $sm);
  padding-right: gutter(1, $sm) * 2;

  @include above('lg') {
    padding-left: gutter(1, $lg);
    padding-right: gutter(1, $lg) * 1.5;
    @include font-size('gamma');
    color: color('sidenote-color');
  }
}