$brand: (
  'black': #000,
  'white': #fff
);


$patterns: (
  'grid-bg': rgb(0, 170, 255) ('rgba': 0.3),
  'sidenote-color': 'black' ('lighten': 35%),
  'toggle-button': 'black',
  'toggle-button-color': 'white',
);

$colors: merge-colors($brand, $patterns);