$ratios: (
  'multiple': 'linear',
  'minor-sixth': 1.6,
);

$roots: (
  'xs-root': 12px,
  'sm-root': 14px,
  'md-root': 15px,
  'lg-root': 17px,
  'xl-root': 19px
);

$bases: (
  'xs-base': 16px,
  'sm-base': 17px,
  'md-base': 18px,
  'lg-base': 20px,
  'xl-base': 22px
);

$container: (
  'container-max-width': 94%,
  'half-container-max-width': 'container-max-width' ('multiple': 0.5),

  'xs-container': 500px,
  'sm-container': 600px,
  'md-container': 800px,
  'lg-container': 1100px,
  'xl-container': 1300px,
);

$measure: (
  'xs-measure': 500px,
  'sm-measure': 550px,
  'md-measure': 600px,
  'lg-measure': 650px,
  'xl-measure': 750px,
);

$xs: (
  'xs-h1': 'xs-base' ('minor-third': 6),
  'xs-h2': 'xs-base' ('minor-third': 4),
  'xs-h3': 'xs-base' ('minor-third': 3),
  'xs-h4': 'xs-base' ('minor-third': 2),
  'xs-h5': 'xs-base' ('minor-third': 1),
  'xs-h6': 'xs-base' ('minor-third': 0),
  'xs-text-sm': 'xs-base' ('minor-third': -1),
  'xs-text-xs': 'xs-base' ('minor-third': -2),
);

$sm: (
  'sm-h1': 'sm-base' ('minor-third': 6),
  'sm-h2': 'sm-base' ('minor-third': 4),
  'sm-h3': 'sm-base' ('minor-third': 3),
  'sm-h4': 'sm-base' ('minor-third': 2),
  'sm-h5': 'sm-base' ('minor-third': 1),
  'sm-h6': 'sm-base' ('minor-third': 0),
  'sm-text-sm': 'sm-base' ('minor-third': -1),
  'sm-text-xs': 'sm-base' ('minor-third': -2),
);

$md: (
  'md-h1': 'md-base' ('minor-third': 6),
  'md-h2': 'md-base' ('minor-third': 4),
  'md-h3': 'md-base' ('minor-third': 3),
  'md-h4': 'md-base' ('minor-third': 2),
  'md-h5': 'md-base' ('minor-third': 1),
  'md-h6': 'md-base' ('minor-third': 0),
  'md-text-sm': 'md-base' ('minor-third': -1),
  'md-text-xs': 'md-base' ('minor-third': -2),
);

$lg: (
  'lg-h1': 'lg-base' ('minor-third': 6),
  'lg-h2': 'lg-base' ('minor-third': 4),
  'lg-h3': 'lg-base' ('minor-third': 3),
  'lg-h4': 'lg-base' ('minor-third': 2),
  'lg-h5': 'lg-base' ('minor-third': 1),
  'lg-h6': 'lg-base' ('minor-third': 0),
  'lg-text-sm': 'lg-base' ('minor-third': -1),
  'lg-text-xs': 'lg-base' ('minor-third': -2),
);

$xl: (
  'xl-h1': 'xl-base' ('minor-third': 6),
  'xl-h2': 'xl-base' ('minor-third': 4),
  'xl-h3': 'xl-base' ('minor-third': 3),
  'xl-h4': 'xl-base' ('minor-third': 2),
  'xl-h5': 'xl-base' ('minor-third': 1),
  'xl-h6': 'xl-base' ('minor-third': 0),
  'xl-text-sm': 'xl-base' ('minor-third': -1),
  'xl-text-xs': 'xl-base' ('minor-third': -2),
);

@include add-sizes(
  $roots,
  $bases,
  $container,
  $measure,
  $xs,
  $sm,
  $md,
  $lg,
  $xl
);
