@mixin height($multiplier: 1) {
  @include _generate('height', $multiplier);
}

@mixin min-height($multiplier: 1) {
  @include _generate('min-height', $multiplier);
}

@mixin max-height($multiplier: 1) {
  @include _generate('max-height', $multiplier);
}

@mixin width($multiplier: 1) {
  @include _generate('width', $multiplier);
}

@mixin min-width($multiplier: 1) {
  @include _generate('min-width', $multiplier);
}

@mixin max-width($multiplier: 1) {
  @include _generate('max-width', $multiplier);
}

@mixin square($multiplier: 1) {
  width: leading(_breakpoint-key(1)) * $multiplier;
  height: leading(_breakpoint-key(1)) * $multiplier;

  @for $i from 2 through length ($breakpoints) {
    @if $i <= length($leadings) {
      @include above(_breakpoint-key($i)) {
        width: leading(_breakpoint-key($i)) * $multiplier;
        height: leading(_breakpoint-key($i)) * $multiplier;
      }
    }
  }
}