@import 'modules/calc-leading';


// VENDOR
@import "math";
@import 'init';
@import 'type';
@import 'layout';
@import 'scale';
@import 'color';
@import 'vendor/susy/sass/susy';

// CONFIGURATION
@import 'config/manifest';

@import 'modules/all';

body {
  font-style: normal;
  font-weight: 400;
  hyphens: auto;
  text-size-adjust: 100%;
}

$susy: (
  'columns': 12,
  'gutters': leading('xs'),
);

$sm: (
  'gutters': leading('sm', 0.5),
);

$md: (
  'gutters': leading('md'),
);

$lg: (
  'gutters': leading('lg'),
);

$xl: (
  'gutters': leading('xl'),
);

.container {
  position: relative;
  clear: fix;
  margin: auto;
  width: 94%;
  @include max-width();
}

.single-measure {
  margin: auto;
  @include measure();
}

.column--trio {
  width: span(4);
  float: left;
  padding-left: gutter(1, $sm);
  padding-right: gutter(1, $sm);

  @include above('lg') {
    padding-left: gutter(1, $lg);
    padding-right: gutter(1, $lg);
  }
}

.column--quad {
  width: span(3);
  float: left;
  padding-left: gutter(1, $sm);
  padding-right: gutter(1, $sm);

  @include above('lg') {
    padding-left: gutter(1, $lg);
    padding-right: gutter(1, $lg);
  }
}

.column--main {
  width: span(8);
  float: left;
  padding-left: gutter(1, $sm);
  padding-right: gutter(1, $sm);

  @include above('lg') {
    padding-left: gutter(1, $lg);
    padding-right: gutter(1, $lg);
  }
}

.column--sidebar {
  width: span(4);
  float: left;
  padding-left: gutter(1, $sm);
  padding-right: gutter(1, $sm);

  @include above('lg') {
    padding-left: gutter(1, $lg);
    padding-right: gutter(1, $lg) * 2;
  }
}

.column--main  + .column--sidebar {
  padding-left: gutter(1, $sm);
  padding-right: gutter(1, $sm);

  @include above('lg') {
    padding-left: gutter(1, $lg) * 2;
    padding-right: gutter(1, $lg);
  }
}

.column--right {
  margin-left: span(4);
}

.column--right .sidenote {
  position: absolute;
  left: 0;
  max-width: span(4);
  padding-left: gutter(1, $sm);
  padding-right: gutter(1, $sm) * 2;
  line-height: 1.6;

  @include above('lg') {
    padding-left: gutter(1, $lg);
    padding-right: gutter(1, $lg) * 1.5;
    @include font-size('gamma');
    color: color('sidenote');
  }
}

.column--left .sidenote{
  position: absolute;
  max-width: span(4);
  right: 0;
  padding-left: gutter(1, $sm) * 4;
  padding-right: gutter(1, $sm);
  line-height: 1.6;

  @include above('lg') {
    padding-left: gutter(1, $lg) * 1.5;
    padding-right: gutter(1, $lg);
    @include font-size('gamma');
    color: color('sidenote');
  }
}

.column--trio,
.column--quad,
.column--sidebar {

  @include above('lg') {

    p {
      @include font-size('beta');
    }

    li {
      @include font-size('beta');
    }
  }
}

:root {
  font-size: 100%;
}

body {
  @include font-size('alpha');
  @include line-height();
}

// h1, h2 ...h6
@for $i from 1 through 6 {
  h#{$i} {
    @include heading('h#{$i}');
  }
}

h6 {
  font-style: italic;
}

p {
  @include margin-bottom();
}

.grid_double {
  @include grid-double();
}