// Line height [mixin]
// -----------
// Set the value of line-height at all breakpoints.
@mixin line-height() {
  $line-height: leading(_breakpoint-key(1));
  line-height: $line-height;

  @for $i from 2 through $breakpoints-length {

    @if $i <= length($leadings) {
      @include above(_breakpoint-key($i)) {

        $line-height: leading(_breakpoint-key($i));
        line-height: $line-height;
      }
    }
  }
}