
// Height
// -------
@mixin height($multiplier: 1) {
  height: leading( _breakpoint-key(1) ) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        height: leading( _breakpoint-key($i) ) * $multiplier;
      }
    }
  }
}


// Min height
// ----------
@mixin min-height($multiplier: 1) {
  min-height: leading( _breakpoint-key(1) ) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        min-height: leading( _breakpoint-key($i) ) * $multiplier;
      }
    }
  }
}


// Max height
// ----------
@mixin max-height($multiplier: 1) {
  max-height: leading( _breakpoint-key(1) ) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        max-height: leading( _breakpoint-key($i) ) * $multiplier;
      }
    }
  }
}


// Width
// ------
@mixin width($multiplier: 1) {
  width: leading( _breakpoint-key(1) ) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        width: leading( _breakpoint-key($i) ) * $multiplier;
      }
    }
  }
}


// Min width
// ---------
@mixin min-width($multiplier: 1) {
  min-width: leading( _breakpoint-key(1) ) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        min-width: leading( _breakpoint-key($i) ) * $multiplier;
      }
    }
  }
}


// Max width
// ---------
@mixin max-width($multiplier: 1) {
  max-width: leading( _breakpoint-key(1) ) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        max-width: leading( _breakpoint-key($i) ) * $multiplier;
      }
    }
  }
}


// Square
// ------
@mixin square($multiplier: 1) {
  width: leading( _breakpoint-key(1) ) * $multiplier;
  height: leading( _breakpoint-key(1) ) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        width: leading( _breakpoint-key($i) ) * $multiplier;
        height: leading( _breakpoint-key($i) ) * $multiplier;
      }
    }
  }
}