:root {
  @include root-size();
}

body {
  @include font-size('base');
  line-height: 2rem;
  font-style: normal;
  font-weight: 400;
  hyphens: auto;
  text-size-adjust: 100%;
}

// h1, h2 ...h6
@for $i from 1 through 6 {
  h#{$i} {
    @include heading('h#{$i}');
  }
}

h6 {
  font-style: italic;
}

p {
  margin-bottom: 2rem;
}