@mixin grid-double-gradient(
  $leading,
  $color: color('grid-bg')
  ) {
  background-image: linear-gradient(
    to bottom,
    $color 1px, transparent 0,
    transparent 0.5 * $leading,
    $color 0.5 * $leading,
    transparent 0.5 * $leading + convert-units(1px, 'rem'),
    transparent $leading
  );
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% $leading;
}


@mixin grid-double() {
  $breakpoint-key: nth($breakpoints-keys, 1);
  $leading: leading($breakpoint-key);
  @include grid-double-gradient($leading);

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      $breakpoint-key: nth($breakpoints-keys, $i);

        @include above('#{$breakpoint-key}') {
          $breakpoint-key: nth($breakpoints-keys, $i);
          $leading: leading('#{$breakpoint-key}');
          @include grid-double-gradient($leading);
        }
    }
  }
}