
// Padding top
// ------------
@mixin padding-top($multiplier: 1) {
  padding-bottom: leading(_breakpoint-key(1)) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        padding-bottom: leading(_breakpoint-key($i)) * $multiplier;
      }
    }
  }
}


// Padding left
// ------------
@mixin padding-bottom($multiplier: 1) {
  padding-bottom: leading(_breakpoint-key(1)) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        padding-bottom: leading(_breakpoint-key($i)) * $multiplier;
      }
    }
  }
}


// Padding right
// -------------
@mixin padding-right($multiplier: 1) {
  padding-right: leading(_breakpoint-key(1)) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        padding-right: leading(_breakpoint-key($i)) * $multiplier;
      }
    }
  }
}


// Padding left
// -------------
@mixin padding-left($multiplier: 1) {
  padding-left: leading(_breakpoint-key(1)) * $multiplier;

  @for $i from 2 through $breakpoints-length {

    @if $i <= $leadings-length {
      @include above(_breakpoint-key($i)) {
        padding-left: leading(_breakpoint-key($i)) * $multiplier;
      }
    }
  }
}

