.container {
  position: relative;
  clear: fix;
  margin: auto;
  width: 94%;

  @include above('lg') {
    @include container-width('lg-container');
  }

  @include above('xl') {
    @include container-width('xl-container');
  }
}