.column--quad {
  @include above('sm') {
    width: span(6);
    float: left;
    padding-left: gutter(1, $sm);
    padding-right: gutter(1, $sm);
  }

  @include above('md') {
    width: span(3);
  }

  @include above('lg') {
    padding-left: gutter(1, $lg);
    padding-right: gutter(1, $lg);
  }
}

.column--quad p {
  @include above('lg') {
    @include font-size('beta');
  }
}

.column--quad li {
 @include above('lg') {
   @include font-size('beta');
 }
}